pre {
  font-weight: 400;
  background-color: #2b324c;
  color: #b08e3e;
  padding: 10px 20px;

  .number-line {
    color: #adadaf;
  }
  .string {
    color: #95c602;
  }
  .number {
    color: #f2b619;
  }
  .boolean {
    color: #0097f1;
  }
  .null {
    color: #727990;
  }
  .key {
    color: #fff;
  }
}
