<mtr-table-container>
  <table
    mtr-table
    [dataSource]="data"
    [trackBy]="trackById"
  >
    <ng-container mtrColumnDef="id">
      <th mtr-header-cell  *mtrHeaderCellDef>
        ID
      </th>
      <td mtr-cell *mtrCellDef="let submission">
        {{ submission.id }}
      </td>
    </ng-container>

    <ng-container mtrColumnDef="type">
      <th mtr-header-cell  *mtrHeaderCellDef>
        Submission Type
      </th>
      <td mtr-cell *mtrCellDef="let submission">
        {{ submission.type }}
      </td>
    </ng-container>

    <ng-container mtrColumnDef="name">
      <th mtr-header-cell  *mtrHeaderCellDef>
        User
      </th>
      <td mtr-cell *mtrCellDef="let submission">
        {{ submission.name }}
      </td>
    </ng-container>

    <ng-container mtrColumnDef="contact">
      <th mtr-header-cell  *mtrHeaderCellDef>
        Contact
      </th>
      <td mtr-cell *mtrCellDef="let submission">
        {{ submission.contact }}
      </td>
    </ng-container>

    <ng-container mtrColumnDef="apNumber">
      <th mtr-header-cell  *mtrHeaderCellDef>
        AP Number
      </th>
      <td mtr-cell *mtrCellDef="let submission">
        {{ submission.apNumber }}
      </td>
    </ng-container>

    <ng-container mtrColumnDef="supplier">
      <th mtr-header-cell  *mtrHeaderCellDef>
        Supplier
      </th>
      <td mtr-cell *mtrCellDef="let submission">
        {{ submission.supplier }}
      </td>
    </ng-container>

    <ng-container mtrColumnDef="selectionCount">
      <th mtr-header-cell  *mtrHeaderCellDef>
        Selections
      </th>
      <td mtr-cell *mtrCellDef="let submission">
        {{ submission.selectionCount }}
      </td>
    </ng-container>

    <ng-container mtrColumnDef="dealCount">
      <th mtr-header-cell  *mtrHeaderCellDef>
        Deals
      </th>
      <td mtr-cell *mtrCellDef="let submission">
        {{ submission.dealCount }}
      </td>
    </ng-container>

    <tr mtr-header-row *mtrHeaderRowDef="columns"></tr>
    <tr mtr-row *mtrRowDef="let row; columns: columns"></tr>
  </table>

  <mtr-paginator mode="limited" [disabled]="data.loading$ | async" />
</mtr-table-container>
