<mte-stack
  *ngIf="userDetail"
  direction="row"
  gap="3"
>
  <cbd-ng-gravatar [email]="userDetail.email" />
  <mte-stack direction="column" justifyContent="space-around">
    <mte-title>
      {{ userDetail.name }}
    </mte-title>
    <mte-title subtitle>
      {{ userDetail.email }}
    </mte-title>
    <mte-title *ngIf="userDetail.supplier" subtitle>
      {{ userDetail.supplier.apNumber }} - {{ userDetail.supplier.name }}
    </mte-title>
  </mte-stack>
</mte-stack>
