<mte-nav-footer inverse slot="footer" withContainer>
  <mte-stack direction="column">
    <ng-content />
    <ng-container *ngIf="showCopyright">
      <div class="copyright">
        Copyright &copy; {{ copyrightYear }} <mte-heb />
      </div>
    </ng-container>
  </mte-stack>
</mte-nav-footer>
